.zt-footer{
    background-color: #000;
    position: relative;
    z-index: 1;
    .zt-footer-social{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
        li{
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
            a{
                display: flex;
                align-items: center;
            }
        }
    }
    .zt-copyright{
        border-top: 2px solid #fff;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 12px;
        justify-content: space-between;
        padding: 10px 25px;
        @include mq(max, 768){
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: flex-start;
        }
        li{
            @include mq(max, 768){
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
            a{
                color: #fff;
            }
        }
    }
}