.menu-header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
    transition: .4s ease-in-out;
    &.sticky, &.menu-header-filter{
        background-color: #000;
        .navbar{
            .navbar-group{
                .navbar-brand{
                    .logo{
                        img{
                            filter: invert(100%);
                        }
                    }
                }
                .navbar-type{
                    .navbar-nav{
                        .menu-item{
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
                .navbar-toggler{
                    .navbar-toggler-box{
                        .navbar-toggler-icon{
                            background-color: #fff;
                            &::before, &::after{
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
        &.is-toggled{
            .navbar-toggler-icon{
                background-color: transparent !important;
            }
        }
    }
    &.is-toggled{
        .navbar-brand{
            .logo{
                img{
                    filter: invert(100%);
                }
            }
        }
    }
    .navbar{
        .cntr{
            @include mq(max, $mq_md){
                padding: 0;
            }
        }
        .navbar-toggler{
            display: none;
            @include mq(max, $mq_md){
                display: block;
                background-color: transparent;
                border: none;
                cursor: pointer;
                padding: 15px 23px;
                position: relative;
                z-index: 9;
            }
            &:focus{
                outline: none;
            }
            &.is-toggled{
                padding: 14.4px 22.5px;
                background-color: transparent;
                .navbar-toggler-box{
                    .navbar-toggler-icon{
                        background-color: transparent;
                        &::before{
                            top: 2px;
                            transform: rotate(45deg);
                            transition: linear .3s;
                            background-color: #fff;
                        }
                        &::after{
                            bottom: -2px;
                            transform: rotate(-45deg);
                            transition: linear .3s;
                            background-color: #fff;
                        }
                    }
                }
            }
            .navbar-toggler-box{
                width: 20px;
                height: 24px;
                display: inline-block;
                position: relative;
                top: 3px;
                .navbar-toggler-icon{
                    display: block;
                    top: 50%;
                    margin-top: -2px;
                    height: 2px;
                    background-color: #000;
                    position: relative;
                    &::before, &::after{
                        content: "";
                        display: block;
                        width: 20px;
                        height: 2px;
                        background-color: #000;
                        position: absolute;
                    }
                    &::before{
                        transition: linear .3s;
                        top: -5px;
                    }
                    &::after{
                        bottom: -5px;
                        transition: linear .3s;
                    }
                }
            }
        }
        .navbar-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar-brand{
                margin-right: auto;
                display: flex;
                @include mq(max, $mq_md){
                    padding-left: 15px;
                }
                .logo{
                    text-decoration: none;
                    color: #333;
                    display: flex;
                    align-items: center;
                    z-index: 99;
                    img{
                        width: 150px;
                        @include mq(max, $mq_md){
                            width: 76px;
                        }
                    }
                }
            }
            .navbar-type{
                .navbar-nav{
                    display: flex;
                    align-items: center;
                    @include mq(max, $mq_md){
                        flex-wrap: wrap;
                    }
                    .menu-item{
                        @include mq(max, $mq_md){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .nav-link , a{
                            color: #000;
                            display: flex;
                            align-items: center;
                            font-family: 'Lato', sans-serif;
                            font-weight: 900;
                            font-size: 15px;
                            padding: 17px 20px;
                            text-decoration: none;
                            transition: all .4s ease-in-out;
                            text-transform: uppercase;
                            @include mq(max, $mq_md){
                                justify-content: flex-start;
                                font-size: 30px;
                                color: #fff;
                                padding: 10px 30px;
                            }
                            &:hover{
                                background-color: #e47667;
                                @include mq(max, 768){
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                }
                &.navbar-slide-right{
                    @include mq(max, $mq_md){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #000;
                        z-index: 9;
                        transform: translateX(-100%);
                        transition: linear .2s;
                        height: 100vh;
                    }
                    &.is-toggled{
                        transform: translateX(0%);
                        transition: linear .2s;
                    }
                }
                &.navbar-collapse{
                    @include mq(max, $mq_md){
                        background-color: #000;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        transition: linear .2s;
                        display: none;
                        opacity: 0;
                    }
                    &.is-toggled{
                        display: block;
                        opacity: 1;
                        transition: all .4s ease-in-out;
                    }
                }
            }
            
        }
    }
}