// Pager
.zt-pager{
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(max, $mq_md){
        margin-top: 25px;
    }
    .zt-pager-line{
        height: 150px;
        width: 1px;
        background-color: #000;
        position: relative;
        &::before{
            content: "";
            background-color: #ff7070;
            cursor: pointer;
            position: absolute;
            width: 20px;
            height: 40px;
            border-radius: 30px;
            right: -9px;
            top: -20px;
            z-index: -1;
        }
        &.zt-pager-line-50{
            margin-bottom: 100px;
            &::before{
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }
        &.zt-pager-line-75{
            margin-bottom: 50px;
            margin-top: 50px;
            &::before{
                bottom: 15%;
                top: auto;
            }
        }
        &.zt-pager-line-100{
            margin-bottom: 110px;
            &::before{
                bottom: -15px;
                top: auto;
            }
        }
    }
    &.zt-pager-50{
        margin-top: -25px;
    }
}

// News
.zt-news{
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    overflow: hidden;
    @include mq(max, $mq_md){
        overflow: visible;
    }
    .gap.gap-0-xs{
        @include mq(max, $mq_md - 1){
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .zt-bubble{
        &::before, &::after{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: -1;
        }
        &::before{
            background-image: url("../img/round/img02.png");
            height: 400px;
            width: 209px;
            right: -90px;
            top: 0;
        }
        &::after{
            background-image: url("../img/round/img01.png");
            height: 201px;
            width: 385px;
            left: 0;
            bottom: 15%;
            @include mq(max, $mq_md){
                bottom: -90px;
                left: -200px;
            }
        }
    }
    .md-4{
        margin-bottom: 20px;
    }
    &::before{
        content: "";
        position: absolute;
        background-color: #8fdfe3;
        right: 0;
        bottom: 0;
        width: 70%;
        height: 70%;
        z-index: -1;
        @include mq(max, $mq_md){
            width: 96%;
        }
    }
    .zt-home-title{
        margin-bottom: 70px;
    }
    .zt-read-more{
        margin-top: 60px;
    }
}

.zt-news-page{
    overflow: hidden;
    padding-top: 130px;
    padding-bottom: 130px;
    position: relative;
    @include mq(max, $mq_md){
        padding-top: 70px;
    }
    .zt-bg01{
        position: absolute;
        background-color: #8fdfe3;
        right: 0;
        top: 18%;
        width: 50%;
        height: 20%;
        @include mq(max, $mq_md){
            width: 80%;
        }
        span{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            &::before{
                content: "";
                position: absolute;
                background-image: url(../img/round/img01.png);
                background-size: cover;
                background-repeat: no-repeat;
                height: 201px;
                width: 385px;
                right: -200px;
                top: -100px;
            }
        }
    }
    .zt-bg02{
        position: absolute;
        background-color: #eeeeee;
        left: 0;
        top: 45%;
        width: 50%;
        height: 20%;
        @include mq(max, $mq_md){
            width: 80%;
        }
        span{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            &::before{
                content: "";
                position: absolute;
                background-image: url(../img/round/img02.png);
                height: 301px;
                width: 157px;
                background-size: cover;
                background-repeat: no-repeat;
                left: 100px;
                top: -200px;
            }
        }
    }
    .zt-bg03{
        position: absolute;
        background-color: #8fdfe3;
        right: 0;
        bottom: 15%;
        width: 50%;
        height: 20%;
        @include mq(max, $mq_md){
            width: 80%;
        }
        span{
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            &::before{
                content: "";
                position: absolute;
                background-image: url(../img/round/img02.png);
                height: 301px;
                width: 157px;
                background-size: cover;
                background-repeat: no-repeat;
                right: 80px;
                bottom: -100px;
            }
        }
    }
    .md-4{
        margin-bottom: 20px;
    }
    .zt-home-title{
        margin-bottom: 50px;
    }
    .zt-categories{
        display: flex;
        align-items: center;
        margin-bottom: 45px;
        h4{
            font-family: 'Lato', sans-serif;
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;
            margin-right: 10px;
        }
        .zt-select{
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            font-size: 20px;
            text-transform: uppercase;
            border: 0;
            border-bottom: 1px solid #000;
            width: 105px;
        }
    }
    .zt-pagination{
        margin-top: 200px;
    }
}

.zt-news-detail{
    padding-top: 130px;
    padding-bottom: 220px;
    @include mq(max, $mq_md){
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .zt-news-date-cat{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        span{
            font-family: "Lato", sans-serif;
        }
        .zt-det-date{
            margin-right: 20px;
        }
        .zt-det-cat{
            background-color: #ff7070;
            font-weight: 900;
            text-transform: uppercase;
            padding: 0 15px;
        }
    }
    .news-det-title{
        font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1950 - 320)));
        line-height: calc(30px + (45 - 30) * ((100vw - 320px) / (1950 - 320)));
        margin-bottom: 60px;
    }
    .news-det-img{
        display: flex;
        align-items: center;
        margin-bottom: 70px;
        img{
            width: 100%;
        }
    }
    .news-det-cont{
        a{
            color: #000;
        }
        p{
            font-size: 15px;
        }
    }
}

.zt-news-related-post{
    background-color: #8fdfe3;
    padding-top: 130px;
    padding-bottom: 130px;
    @include mq(max, $mq_md){
        padding-bottom: 50px;
    }
    .cntr-1000{
        position: relative;
        &::before{
            content: "";
            background-image: url("../img/round/img02.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 228px;
            height: 437px;
            position: absolute;
            top: -155px;
            left: -130px;
        }
    }
    .zt-home-title{
        margin-bottom: 90px;
        margin-top: -160px;
        @include mq(max, $mq_md){
            margin-top: -180px;
            margin-bottom: 15px;
        }
        h2{
            @include mq(max, 500){
                font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (500 - 320)));;
            }
        }
    }
}

.zt-news-select-cat{
    display: flex;
    align-items: center;
    position: relative;
    width: 150px;
    text-transform: uppercase;
}

#zt_selected_news{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    cursor: pointer;
    span{
        display: block;
        width: 100%;
        border-bottom: 1px solid #000;
    }
    &::before{
        content: "\f078";
        font-family: "FontAwesome";
        position: absolute;
        right: 0;
    }
}

#zt_news_cat_sel{
    background-color: #fff;
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    appearance: none;
    li{
        &:first-child{
            a{
                border-top: 1px solid #000;
            }
        }
        &:last-child{
            a{
                border-bottom: 0;
            }
        }
        &:nth-child(2){
            display: none;
        }
        a{
            color: #000;
            display: flex;
            align-items: center;
            text-decoration: none;
            border-bottom: 1px solid #000;
        }
    }
}

// Services
.zt-services{
    background-color: #eeeeee;
    padding-top: 150px;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
    @include mq(max, $mq_md){
        padding-bottom: 100px;
    }
    .gap{
        position: static;
    }
    .gap.gap-0-xs{
        @include mq(max, $mq_md){
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    .zt-home-title{
        margin-top: calc(-200px + (-186 - -200) * ((100vw - 320px) / (2800 - 320)));
        margin-bottom: 130px;
        @include mq(max, $mq_md){
            margin-bottom: 80px;
        }
    }
}

.zt-service-page{
    padding-top: calc(50px + (130 - 50) * ((100vw - 320px) / (1950 - 320)));
    overflow: hidden;
    .zt-home-title{
        margin-bottom: calc(50px + (115 - 50) * ((100vw - 320px) / (1950 - 320)));
    }
    .zt-service-wrp{
        padding-top: 30px;
        padding-bottom: 60px;
        position: relative;
        margin-bottom: 160px;
        @include mq(max, 767){
            margin-bottom: 80px;
        }
        &::before{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.zt-round{
            &::before{
                background-image: url("../img/round/img01.png");
                width: calc(278px + (571 - 278) * ((100vw - 768px) / (1950 - 768)));
                height: calc(146px + (300 - 146) * ((100vw - 768px) / (1950 - 768)));
                right: -20%;
                bottom: -20%;
                @include mq(max, 767){
                    bottom: -10%;
                }
            }
        }
        &.zt-round2{
            &::before{
                background-image: url("../img/round/img02.png");
                width: 162px;
                height: 310px;
                right: 35%;
                bottom: -20%;
                @include mq(max, 767){
                    right: auto;
                    left: -40px;
                    width: 100px;
                    height: 192px;
                    bottom: -10%;
                }
            }
        }
        &.zt-round3{
            &::before{
                background-image: url("../img/round/img02.png");
                width: 162px;
                height: 310px;
                left: 0;
                bottom: -7%;
                transform: rotate(90deg);
                @include mq(max, 767){
                    width: 125px;
                    height: 217px;
                    left: -10%;
                }
            }
        }
        &.zt-round4{
            &::before{
                background-image: url("../img/round/img02.png");
                width: 162px;
                height: 310px;
                right: 3%;
                bottom: -15%;
                @include mq(max, 767){
                    width: 100px;
                    height: 192px;
                    right: -5%;
                    bottom: -10%;
                }
            }
        }
        .gap{
            position: static;
        }
        .zt-service-page-img{
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            @include mq(max, 767){
                position: static;
                flex-wrap: wrap;
                margin-bottom: 15px;
            }
            img{
                box-shadow: 10px 0 50px rgba(0,0,0,0.3);
                width: calc(355px + (1000 - 355) * ((100vw - 768px) / (1950 - 768)));
                @include mq(max, 767){
                    width: 100%;
                    margin-left: -25px;
                }
            }
            .zt-service-tit{
                font-size: calc(40px + (72 - 40) * ((100vw - 320px) / (1950 - 320)));
                font-weight: 900;
                font-family: 'Lato', sans-serif;
                line-height: calc(50px + (72 - 50) * ((100vw - 320px) / (1950 - 320)));
                margin-bottom: 10px;
                text-transform: uppercase;
                display: none;
                @include mq(max, 767){
                    display: block;
                    padding-left: 25px;
                }
            }
        }
        .zt-service-page-cont{
            padding-left: calc(0px + (170 - 0) * ((100vw - 768px) / (1950 - 768)));
            @include mq(max, 767){
                padding: 0 25px !important;
            }
            p{
                @include mq(max, $mq_md){
                    padding-right: 20px;
                }
            }
            &::before{
                content: "";
                position: absolute;
                right: 0;
                top: 70px;
                bottom: 0;
                width: 60%;
                background-color: #8bd9dd;
                z-index: -1;
                @include mq(max, 768){
                    width: 90%;
                }
                @include mq(max, 767){
                    width: 94%;
                    top: 25%;
                }
            }
            .zt-service-tit{
                font-size: calc(40px + (72 - 40) * ((100vw - 320px) / (1950 - 320)));
                font-weight: 900;
                font-family: 'Lato', sans-serif;
                line-height: calc(50px + (72 - 50) * ((100vw - 320px) / (1950 - 320)));
                margin-bottom: 50px;
                text-transform: uppercase;
                @include mq(max, 767){
                    display: none;
                }
            }
            .zt-read-more{
                margin-top: calc(40px + (250 - 40) * ((100vw - 768px) / (1950 - 768)));
                justify-content: flex-start;
                @include mq(max, 767){
                    justify-content: center;
                    margin-top: 50px;
                }
            }
        }
        &.zt-service-wrp-right{
            .gap{
                @include mq(max, 767){
                    flex-direction: column-reverse;
                }
            }
            .zt-service-page-img{
                left: auto;
                right: 0;
                justify-content: flex-end;
                .zt-service-tit{
                    width: 100%;
                }
                img{
                    margin-right: -25px;
                }
            }
            .zt-service-page-cont{
                padding-left: 0;
                padding-right: calc(0px + (65 - 0) * ((100vw - 768px) / (1950 - 768)));
                &::before{
                    right: auto;
                    left: 0;
                    background-color: #eeeeee;
                }
            }
        }
    }
}

// Recruit
.zt-recruit{
    padding-bottom: 160px;
    position: relative;
    &::before{
        content: "";
        background-color: #8fdfe3;
        position: absolute;
        top: 3%;
        left: 0;
        height: 62%;
        width: 80%;
        z-index: -1;
        @include mq(max, 768){
            width: 96%;
            top: 5%;
        }

    }
    .zt-home-title{
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    .zt-tag{
        margin-bottom: 50px;
        @include mq(max, 1050){
            margin-bottom: 150px;
        }
        @include mq(max, 768){
            margin-bottom: 50px;
            padding-right: 50px;
        }
    }
    .zt-recruit-img-wrp{
        display: flex;
        align-items: center;
        max-width: 1365px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        @include mq(max, 768){
            flex-wrap: wrap;
        }
        .zt-det{
            max-width: 418px;
            width: 100%;
            @include mq(max, 768){
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 50px;
            }
            .zt-read-more{
                @include mq(max, 768){
                    justify-content: flex-start;
                }
            }
        }
        .zt-img{
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                background-image: url("../img/round/img02.png");
                background-size: cover;
                background-repeat: no-repeat;
                top: -90px;
                right: 170px;
                width: 159px;
                height: 303px;
                @include mq(max, 1000){
                    right: 2%;
                    height: 199px;
                    width: 104px;
                }
            }
            img{
                box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3);
                width: 100%;
            }
        }
    }
}

// Contact
.zt-contact{
    background-color: #eeeeee;
    padding-bottom: calc(50px + (130 - 50) * ((100vw - 320px) / (1950 - 320)));
    padding-top: calc(50px + (130 - 50) * ((100vw - 320px) / (1950 - 320)));
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::before, &::after{
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &::before{
        background-image: url("../img/round/img01.png");
        height: 235px;
        width: 450px;
        left: -10%;
        z-index: -1;
        @include mq(max, 768){
            height: 160px;
            width: 307px;
            left: -20%;
        }
    }
    &::after{
        background-image: url("../img/round/img02.png");
        height: 550px;
        width: 300px;
        bottom: -19%;
        right: 10%;
        z-index: -1;
        @include mq(max, 768){
            height: 380px;
            width: 198px;
            bottom: -12%;
        }
    }
    .zt-home-title{
        margin-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1950 - 320)));
    }
    .zt-tag{
        margin-bottom: 70px;
        display: inline-block;
        width: 100%;
    }
}

// Pagination
.zt-pagination{
    width: 100%;
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            .page-numbers{
                color: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: "Lato", sans-serif;
                font-weight: 900;
                text-decoration: none;
                padding: 5px 15px;
                transition: .4s ease-in-out;
                height: 40px;
                width: 40px;
                &:hover{
                    background-color: #ff7070;
                }
                &.current{
                    background-color: #ff7070;
                }
                img{
                    width: 15px;
                }
                &.next{
                    img{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}