/*

    @package THEMENAME

*/
.theme-panel-wrap{display: flex;flex-wrap: wrap;margin-top: 20px;}
.theme-panel-wrap .theme-panel-left{background-color: #23282d;flex: 0 0 25%;max-width: 25%;position: relative;}
.theme-panel-wrap .theme-panel-right{background-color: #fff;flex: 0 0 75%;max-width: 75%;}
.theme-panel-wrap .theme-box{position: relative;}
.theme-panel-wrap .theme-box .theme-head img{width: 100%;max-width: 200px;height: 100%;margin-bottom: 50px;}
.theme-panel-wrap .theme-panel-right .theme-box{padding: 15px;}
.theme-panel-wrap .theme-box .theme-head{text-align: center;padding: 15px;margin-top: 100px;}
.theme-panel-wrap .theme-box .theme-head h3{color: #ccc;margin: 0;font-size: 12px;}
.theme-panel-wrap .theme-box .theme-options-form .submit{margin-bottom: 0;padding-bottom: 0;}
.theme-panel-wrap .theme-box h2{margin-top: 0;}
.preview-logo, .preview-fav{display: flex;align-items: center;margin-bottom: 10px;}
.preview-logo img{width: 200px;background-color: #e9e9e9;padding: 10px;border: 1px solid #dadada;}
.preview-fav img{width: 50px;background-color: #e9e9e9;padding: 10px;border: 1px solid #dadada;}
.theme-powered{position: absolute;bottom: 5px;right: 10px;}
.theme-powered p{margin: 0;color: #6d6d6d;font-size: 10px;}
.description{font-size: 12px !important;}
.theme-panel-wrap .theme-box .form-table .input-control{width: 100%;border: 1px solid #e3e3e3;height: 40px;font-size: 12px;border-radius: 5px;}
.theme-panel-wrap .theme-box .form-table .textarea-control{width: 100%;border: 1px solid #e3e3e3;height: 100px;font-size: 12px;border-radius: 5px;resize: none;}
.theme-panel-wrap .theme-box .form-table th{width: 100px;}