.zt-read-more{
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        position: relative;
        span{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        svg{
            max-width: 240px;
            width: 100%;
            .button{
                max-width: 240px;
                width: 100%;
            }
        }
    }
}

.zt-submit{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    color: #000;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 240px;
    width: 100%;
    padding: 20px 10px;
    text-transform: uppercase;
    text-align: center;
}

/* Check Box */
.checkBox {
    /* Add Padding Left To Center Text */
  }
  .checkBox svg {
    /* Presentation Purposes */
  }
  .checkBox svg rect, .checkBox svg polyline {
    fill: none;
    stroke: #000;
    stroke-width: 1;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .checkBox:hover svg rect {
    stroke-width: 2;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .checkBox:hover svg polyline {
    stroke-width: 2;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }
  .checkBox svg .button {
    stroke-dasharray: 400px, 0;
  }
  .checkBox:hover svg .button {
    stroke-dasharray: 0, 400px;
    stroke-dashoffset: 33px;
  }
  /* Check Mark Effect */
  .box, .checkMark {
    opacity: 0;
  }
  .checkBox:hover .box {
    -webkit-animation: boxDisplay 0.2s forwards;
    -moz-animation: boxDisplay 0.2s forwards;
    -ms-animation: boxDisplay 0.2s forwards;
    -o-animation: boxDisplay 0.2s forwards;
    animation: boxDisplay 0.2s forwards;
    -webkit-animation-delay: 0.65s;
    -moz-animation-delay: 0.65s;
    -ms-animation-delay: 0.65s;
    -o-animation-delay: 0.65s;
    animation-delay: 0.65s;
  }
  .checkBox:hover .checkMark {
    -webkit-animation: checkDisplay 0.2s forwards;
    -moz-animation: checkDisplay 0.2s forwards;
    -ms-animation: checkDisplay 0.2s forwards;
    -o-animation: checkDisplay 0.2s forwards;
    animation: checkDisplay 0.2s forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
  /* Check Box Display */
  @-webkit-keyframes boxDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes boxDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes boxDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes boxDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes boxDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  /* Check Mark Display */
  @-webkit-keyframes checkDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-moz-keyframes checkDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-ms-keyframes checkDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @-o-keyframes checkDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes checkDisplay {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }