.zt-news-card{
    background-color: #fff;
    color: #000;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    padding: 24px 15px;
    text-decoration: none;
    transition: .4s ease-in-out;
    &:hover{
        box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
        @include mq(max, $mq_md){
            box-shadow: 10px 0px 50px rgba(0,0,0,0.5);
        }
        .zt-news-img{
            img{
                transform: scale(1.2);
            }
        }
    }
    @include mq(max, $mq_md){
        box-shadow: 10px 0px 50px rgba(0,0,0,0.2);
    }
    .zt-news-img{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        overflow: hidden;
        img{
            width: 100%;
            transition: .4s ease-in-out;
        }
    }
    .zt-news-cont{
        display: flex;
        @include mq(max, $mq_md){
            flex-wrap: wrap;
        }
        .zt-news-date-cat{
            flex: 0 0 25%;
            max-width: 25%;
            margin-right: 24px;
            display: flex;
            align-items: flex-start;
            position: relative;
            top: 5px;
            @include mq(max, 920){
                flex: 0 0 35%;
                max-width: 35%;
            }
            @include mq(max, $mq_md){
                flex: 0 0 100%;
                max-width: 100%;
                top: 0;
                align-items: center;
                margin-bottom: 5px;
            }
            .zt-news-date{
                font-size: 13px;
                margin-right: 14px;
                width: 130px;
                position: relative;
                top: -5px;
                @include mq(max, $mq_md){
                    width: auto;
                    top: 0;
                }
            }
            .zt-news-cat{
                background-color: #ff7070;
                color: #000;
                font-size: 13px;
                font-family: 'Lato', sans-serif;
                font-weight: 600;
                line-height: 13px;
                text-transform: uppercase;
                padding: 5px 15px;
                display: inline-block;
                width: 100%;
                text-align: center;
                @include mq(max, $mq_md){
                    width: auto;
                }
                &.release{
                    background-color: #36b1b9;
                }
                &.news{
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        h4{
            font-size: 20px;
            line-height: 1.5em;
        }
    }
}

.zt-service-card{
    border: 1px solid #000;
    color: #000;
    display: flex;
    font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (2800 - 320)));
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 70px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .4s ease-in-out;
    @include mq(max, 768){
        padding: 40px 20px;
    }
    &::before{
        content: "";
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        position: absolute;
        top: 0;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        transition: .4s ease-in-out;
    }
    &:hover{
        box-shadow: 10px 0 50px rgba(0,0,0,0.8);
    }
    &.zt-service-card-creative{
        &:hover{
            &::before{
                background-image: url('../img/services/img01.jpg');
                opacity: 1;
            }
        }
    }
    &.zt-service-card-space{
        &:hover{
            &::before{
                background-image: url('../img/services/img02.jpg');
                opacity: 1;
            }
        }
    }
    &.zt-service-card-business{
        &:hover{
            &::before{
                background-image: url('../img/services/img03.jpg');
                opacity: 1;
            }
        }
    }
    &.zt-service-card-web{
        &:hover{
            &::before{
                background-image: url('../img/services/img04.jpg');
                opacity: 1;
            }
        }
    }
}