.zt-frm-grp{
    margin-bottom: 25px;
    label{
        display: inline-block;
        margin-bottom: 10px;
        .zt-req{
            color: #f1594b;
            position: relative;
            top: -5px;
            right: -2px;
        }
    }
    input.zt-frm-cntrl{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #000;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    textarea.zt-frm-cntrl{
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        resize: none;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        border: 1px solid #000;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}