.zt-cntr-765 {
    max-width: 765px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.zt-list-mn{
    li{
        position: relative;
        padding-left: 20px;
        &::before{
            position: absolute;
            content: "・";
            left: 0;
            top: 0;
        }
    }
}


.zt-works-cntr{
    max-width: 100%;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 15px;
    padding-right: 15px;
    @include mq(max, 767){
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.zt-mn-sp-br{
    display: none;
    @include mq(max, $mq_md - 1) {
        display: block;
    }
}
.zt-about-page{
    padding-top: 130px;
    .zt-about-logo{
        display: flex;
        justify-content: center;
        padding-top: 130px;
        padding-bottom: 55px;
        @include mq(max, $mq_md - 1) {
            padding-top: 130px;
            padding-bottom: 80px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 62px;
            padding-bottom: 40px;
        }
    }
    .zt-about-dl{
        padding-bottom: 65px;
        @include mq(max, $mq_md - 1) {
            padding-bottom: 60;
        }
        @include mq(max, $mq_sm - 1) {
            padding-bottom: 30px;
        }
        dl{
            display: flex;
            padding-bottom: 30px;
            flex-wrap: wrap;
            @include mq(max, $mq_md - 1) {
                padding-bottom: 60px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-bottom: 30px;
            }
        }
        dt{
            flex: 0 0 22.3333%;
            max-width: 22.3333%;
            p{
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 18px;
                @include mq(max, $mq_md - 1) {
                    font-size: 30px;
                }
                @include mq(max, $mq_sm - 1) {
                    font-size: 15px;
                }
            }
            @include mq(max, $mq_md - 1) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        dd{
            flex: 0 0 77.6667%;
            max-width: 77.6667%;
            padding-left: 30px;
            p{
                font-family: "Noto Sans CJK JP";
                font-size: 18px;
            }
            @include mq(max, $mq_md - 1) {
                flex: 0 0 100%;
                max-width: 100%;
                padding-left: 0px;
            }
        }
    }
    .zt-zt-park{
        padding-top: 100px;
        background-color: #eeeeee;
        position: relative;
        @include mq(max, $mq_md - 1) {
            padding-top: 125px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 62px;
        }
        .zt-zt-p-logo{
            display: flex;
            justify-content: center;
            padding-bottom: 55px;
            @include mq(max, $mq_md - 1) {
                padding-bottom: 80px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-bottom: 40px;
            }
        }
        
    }
}

.zt-recruit-page{
    padding-top: 130px;
    position: relative;
    .zt-recruit-title{
        font-family: "Noto Sans CJK JP";
        font-weight: bold;
        font-size: 36px;
        text-align: center;
        padding-top: 130px;
        @include mq(max, $mq_md - 1) {
            padding-top: 125px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 62px;
            font-size: 27px;
        }
    }
    .zt-rec-z-r{
        position: absolute;
        right: 0;
        top: 12.5%;
        right: 14.7%;
    }
    .zt-recruit-dl{
        padding-top: 50px;
        padding-bottom: 55px;
        position: relative;
        &.is-a{
            dl{
                dt{
                    p{
                        font-weight: 400;
                    }
                }
            }
            &::before{
                content: "";
                background-image: url("../img/icon/zero.png");
                background-size: cover;
                background-repeat: no-repeat;
                width: 230px;
                height: 440px;
                position: absolute;
                top: 21%;
                right: -10%;
                @include mq(max, $mq_md - 1) {
                    height: 440px;
                    width: 125px;
                }
                @include mq(max, $mq_sm - 1) {
                    height: 225px;
                    width: 62px;
                    right: -12%;
                }
            }
        }
        dl{
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 35px;
            @include mq(max, $mq_md - 1) {
                padding-bottom: 60px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-bottom: 30px;
            }
        }
        dt{
            flex: 0 0 25%;
            max-width: 25%;
            p{
                font-family: "Noto Sans CJK JP";
                font-size: 18px;
                @include mq(max, $mq_md - 1) {
                    font-size: 30px;
                }
                @include mq(max, $mq_sm - 1) {
                    font-size: 15px;
                }
            }
            @include mq(max, $mq_md - 1) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        dd{
            flex: 0 0 75%;
            max-width: 75%;
            p{
                font-family: "Noto Sans CJK JP";
                font-size: 18px;
                span{
                    font-size: 15px;
                    line-height: 1.5em;
                }
                @include mq(max, $mq_md - 1) {
                    font-size: 30px;
                }
                @include mq(max, $mq_sm - 1) {
                    font-size: 15px;
                }
            }
            @include mq(max, $mq_md - 1) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    .zt-recruit-p{
        background-color: #eeeeee;
        position: relative;
        .zt-rec-z{
            position: absolute;
            left: 0;
            top: -7.3%;
            @include mq(max, $mq_md - 1) {
                img{
                    height: 225px;
                    width: 170px;
                }
            }
            @include mq(max, $mq_sm - 1) {
                top: -3.7%;
                img{
                    height: 112px;
                    width: 85px;
                }
            }
        }
    }
    .zt-recruit-applctn{
        background-color: #8fdfe3;
        padding-bottom: 125px;
        position: relative;
        @include mq(max, $mq_md - 1) {
            padding-bottom: 130px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-bottom: 65px;
        }
        p{
            @include mq(max, $mq_md - 1) {
                line-height: 54px;
                font-size: 30px;
            }
            @include mq(max, $mq_sm - 1) {
                line-height: 27px;
                font-size: 15px;
            }
        }
        &::before{
            content: "";
            background-image: url("../img/icon/zero.png");
            background-size: cover;
            background-repeat: no-repeat;
            width: 165px;
            height: 315px;
            position: absolute;
            top: -100px;
            right: 110px;
            @include mq(max, $mq_sm - 1) {
                height: 160px;
                width: 85px;
                right: 37px;
                top: -70px;
            }
        }
        &::after{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../img/icon/zero.png");
            width: 162px;
            height: 315px;
            left: 0;
            bottom: -4.4%;
            transform: rotate(90deg);
            @include mq(max, $mq_md - 1) {
                display: none;
            }
        }
        .zt-recruit-title{
            font-family: "Noto Sans CJK JP";
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            padding-bottom: 70px;
        }
        .zt-recruit-form{
            padding-top: 80px;
            @include mq(max, $mq_sm - 1) {
                padding-top: 40px;
            }
            .zt-rec-frm{
                margin-bottom: 25px;
                br{
                    display: none;
                }
                img{
                    display: block;
                }
            }
            label{
                display: inline-block;
                margin-bottom: 10px;
                @include mq(max, $mq_md - 1) {
                    font-size: 32px;
                }
                @include mq(max, $mq_sm - 1) {
                    font-size: 16px;
                }
            }
            .zt-req-rec{
                color: #f1594b;
                position: relative;
                top: -5px;
                right: -2px;
            }
            input{
                display: block;
                width: 100%;
                height: -webkit-calc(1.5em + .75rem + 2px);
                height: -moz-calc(1.5em + .75rem + 2px);
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                border: 1px solid #ffff;
            }
            .zt-file{
                width: 235px !important;
            }
            textarea{
                display: block;
                width: 100%;
                padding: .375rem .75rem;
                font-size: 1rem;
                resize: none;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                border: 1px solid #fff;
            }
            .zt-rec-submit{
                display: flex;
                align-items: center;
                cursor: pointer;
                justify-content: center;
                margin: auto;
                color: #000;
                border: 1px solid #000;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                line-height: 16px;
                font-weight: 900;
                max-width: 240px;
                width: 100%;
                padding: 20px 10px 30px;
                text-transform: uppercase;
                text-align: center;
                background-color: transparent;
                @include mq(max, $mq_md - 1) {
                    margin-top: 55px;
                }
            }
        }
    }
}

.zt-abt-z{
    position: absolute;
    left: 0;
    padding-top: 5.2%;
    @include mq(max, $mq_md - 1) {
        img{
            height: 225px;
            width: 175px;
        }
    }
    @include mq(max, $mq_sm - 1) {
        padding-top: 13%;
        img{
            height: 112px;
            width: 87px;
        }
    }
    &.is-a{
        right: 0;
        left: auto;
        top: -27%;
        padding-right: 102px;
        @include mq(max, $mq_md - 1) {
            top: -100px;
            padding-right: 20px;
            img{
                width: 165px;
                height: 315px;
            }
        }
        @include mq(max, $mq_sm - 1) {
            padding-right: 10px;
            top: -70px;
            img{
                height: 160px;
                width: 85px;
            }
        }
    }
}


.zt-works-page{
    position: relative;
    // padding-bottom: calc(40px + (110 - 40) * ((100vw - 320px) / (1950 - 320)));
    padding-bottom: 56px;
    .grd-itm{
        width: 100%;
        height: 100%;
    }
    .zt-img-cover{
        background-size: cover;
        background-position: 50%;
        transition: opacity 1s,transform .5s;
    }
    // img{
    //     display: flex;
        
    // }
    .zt-wrks-bg{
        background-color: #eeeeee;
        padding-top: 60px;
        padding-bottom: 60px;
        overflow: hidden;
        @include mq(max, $mq_md - 1) {
            display: none;
        }
        h3{
            text-transform: uppercase;
            font-size: 20px;
            position: relative;
            span{
                padding-right: 10px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 40%;
                width: 95px;
                height: 2px;
                background-color: #000;
            }
            &.is-a{
                &::after{
                    content: '';
                    position: absolute;
                    top: 40%;
                    width: 90%;
                    height: 2px;
                    background-color: #000;
                }
            }
        }
        .zt-yct{
            display: flex;
            position: relative;
            flex-wrap: wrap;
            overflow: hidden;
            li{
                position: relative;
                display: block;
                flex: 0 0 12%;
                max-width: 12%;
                &:last-child{
                    flex: 0 0 88%;
                    max-width: 88%;
                    margin-right: 0px;
                }
                h3{
                    text-transform: uppercase;
                    font-size: 20px;
                    position: relative;
                    &::after{
                        content: '';
                        position: absolute;
                        top: 40%;
                        width: 95px;
                        height: 1px;
                        background-color: #000;
                        right: 0;
                    }
                }
            }
        }
    }
    #zt-shw {
        background-color: #eeeeee;
        padding-bottom: 65px;
        display: none;
        overflow: hidden;
        .zt-year, .zt-category, .zt-tag{
            li{
                padding-left: 10px;
                &:hover{
                    background-color: #ff7070;
                    cursor: pointer;
                }
            }
            a{
                text-decoration: none;
                color: currentColor;
            }
        }
        @include mq(max, $mq_md - 1) {
            display: none !important;
        }
    }
}

.zt-ovrly-cntr {
    position: relative;
    width: 100%;
    img{
        display: flex;
        object-fit: cover;
        font-family: "object-fit: cover; object-position: center;";
        object-position: center center;
        width: 100%;
        max-width: inherit;
        min-height: 100%;
        max-height: 100%;
    }
    .zt-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 1s,transform .5s;
        background-color: #8fdfe3;
        &:hover{
            opacity: 1;
            cursor: pointer;
            box-shadow: 10px 0 50px rgba(0,0,0,0.3);
        }
        @include mq(max, $mq_md - 1) {
           position: relative;
           opacity: 1;
        }
    }
    .zt-wrk-thmb{
        display: flex;
    }
    &:hover{
        opacity: 1;
        cursor: pointer;

    }
    .zt-txt {
        color: #000;
        position: absolute;
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
        top: 50%;
        transform: translate(0%, -50%);
        font-weight: bold;
        @include mq(max, $mq_md - 1) {
           position: relative;
           top: 0%;
           transform: translate(0%, -0%);
           padding: 15px 20px;
        }
        span{
            font-size: 18px;
            font-family: 'Lato', sans-serif;
            display: inline-block;
        }
        h3{
            font-family: "Noto Sans CJK JP";
            font-size: 60px;
            font-weight: bold;
            padding-top: 25px;
            line-height: 72px;
            @include mq(max, $mq_md - 1) {
                font-size: 40px;
                line-height: 62px;
            }
            &.is-a{
                font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1950 - 320)));
                line-height: calc(28px + (40 - 28) * ((100vw - 320px) / (1950 - 320)));
                padding-top: 0px;
            }
        }
    }
}


.zt-works-dtl-page{
    padding-top: 64px;
    overflow: hidden;
    @include mq(max, $mq_md - 1) {
        padding-top: 0px;
    }
    @include mq(max, $mq_sm - 1) {
        padding-bottom: 65px;
    }
    img{
        display: flex;
        box-shadow: 10px 0 50px rgba(0,0,0,0.3);
    }
    .zt-sec1{
        position: relative;
        overflow: hidden;
        @include mq(max, $mq_md - 1) {
            padding-top: 150px;
        }
        .zt-img{
            max-width: 1205px;
            width: 100%;
            margin: 0 auto;
            z-index: 1;
            position: relative;
            @include mq(max, 767){
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .zt-grd{
            display: flex;
            .zt-grd-4{
                flex: 0 0 37%;
                max-width: 37%;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            .zt-grd-8{
                flex: 0 0 63%;
                max-width: 63%;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        .zt-lft-bg{
            padding-left: 40px;
            padding-bottom: 35px;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                background-color: #8fdfe3;
                z-index: -1;
                padding-top: 265px;
                margin-top: -257px;
                height: 100%;
                @include mq(max, $mq_md - 1) {
                    margin-top: -160px;
                }
            }
            @include mq(max, $mq_md - 1) {
                padding-left: 38px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-left: 19px;
            }
            .zt-ttl{
                padding-bottom: 40px;
                padding-top: 43px;
                padding-left: 40px;
                @include mq(max, $mq_md - 1) {
                    padding-left: 20px;
                }
                h4{
                    font-family: "Noto Sans CJK JP";
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 38px;
                    @include mq(max, $mq_md - 1) {
                        font-size: 40px;
                        line-height: 63px;
                    }
                    @include mq(max, $mq_sm - 1) {
                        font-size: 20px;
                        line-height: 32px;
                    }
                }
            }
            .zt-mn-cntnts{
                max-width: 605px;
                width: 100%;
                margin: 0 0 0 auto;
                @include mq(max, $mq_md - 1) {
                    padding: 0 0px 0px 40px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding: 0 0px 0px 20px;
                }
                p{
                    a{
                        color: currentColor;
                        text-decoration: none;
                        &:hover{
                            color: #e47667;
                        }
                    }
                    font-size: 16px;
                    @include mq(max, $mq_md - 1) {
                        font-size: 30px;
                        line-height: 60px;
                    }
                    @include mq(max, $mq_sm - 1) {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }
        }
        .zt-dtl-wrkdtl{
            display: flex;
            flex-direction: column;
            @include mq(max, $mq_md - 1) {
                position: absolute;
                top: 0;
            }
        }
        .zt-dt-wrkdtl{
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            padding-bottom: 30px;
            padding-top: 43px;
        }
        .zt-cat-wrkdtl{
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            padding-bottom: 20px;
            @include mq(max, $mq_md - 1) {
                padding-bottom: 5px;
            }
            p{
                font-weight: bold;
                text-transform: uppercase;
                span{
                    font-weight: 500;
                    padding-left: 5px;
                    text-transform: initial;
                }
            }
        }
        .zt-dl-tag{
            display: flex;
            dt{
                font-size: 16px;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                text-transform: uppercase;
            }
            dd{
                text-transform: capitalize;
                font-weight: 500;
                padding-left: 5px;
                position: relative;
                .zt-wrkdtl-tags{
                    display: flex;
                    flex-wrap: wrap;
                    li{
                        font-size: 16px;
                        font-family: 'Lato', sans-serif;
                        span{
                            position: relative;
                            margin-right: 3px;
                        }
                        &:after{
                            content: '/';
                            margin-right: 3px;
                            &:last-child{
                                display: none;
                            }
                        }
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .zt-sec2{
        padding-top: 120px;
        position: relative;
        min-height: 980px;
        // margin-bottom: 480px;
        @include mq(max, 767){
            min-height: auto;
        }
        @include mq(max, $mq_md - 1) {
            padding-top: 124px;
            padding-bottom: 0px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 62px;
        }
        .zt-cntr{
            max-width: 1080px;
            width: 100%;
            margin: 0;
            position: relative;        
        }
        .zt-m-zr{
            &::before{
                content: "";
                position: absolute;
                background-image: url("../img/icon/zero.png");
                background-repeat: no-repeat;
                background-size: contain;
                width: calc(188px + (571 - 278) * ((100vw - 768px) / (1950 - 768)));
                height: calc(303px + (300 - 146) * ((100vw - 768px) / (1950 - 768)));
                left: -15%;
                margin-top: 575px;
                transform: rotate(90deg);
                @include mq(max, 767){
                    margin-top: 40px;
                }
                @include mq(max, $mq_sm - 1) {
                    left: -10%;
                    height: 160px;
                    margin-top: 20px;
                }
            }
        }
        .zt-grd{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .gap35{
                margin-right: 70px;
            }
            .zt-grd-6{
                flex: 0 0 55.8%;
                max-width: 55.8%;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-right: 80px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-right: 40px;
                }
            }
            .zt-grd-4{
                flex: 0 0 37%;
                max-width: 37%;
                padding-top: 305px;
                padding-left: 13px;
                @include mq(max, $mq_md - 1) {
                    padding-right: 5px;
                    padding-top: 80px;
                    padding-left: 80px;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-top: 40px;
                    padding-left: 40px;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
            .zt-wrdtl-bg{
                position: relative;
                img{
                    position: relative;
                    width: 602px;
                    @include mq(max, 1150){
                        width: 100%;
                    }
                    @include mq(max, $mq_md - 1) {
                        width: 100%;
                    }
                }   
                &:before{
                    content: '';
                    position: absolute;
                    width: 850px;
                    height: 480px;
                    left: 70px;
                    z-index: -1;
                    top: 200px;
                    background-color: #eeeeee;
                    @include mq(max, $mq_md - 1) {
                        width: 85%;
                        height: 480px;
                        left: 40px;
                    }
                    @include mq(max, $mq_sm - 1) {
                        height: 240px;
                        width: 110%;
                        top: 100px;
                        left: 20px;
                    }
                }
            }
        }
    }
    .zt-bg-skyb{
        background-color: #8fdfe3;
        width: 100%;
        margin: 0 0 0 auto;
        height: 480px;
        position: absolute;
        left: 225px;
        z-index: -1;
        top: 315px;
    }
    .zt-sec3{
        padding-top: 75px;
        position: relative;
        min-height: 1015px;
        @include mq(max, 767){
            min-height: auto;
        }
        @include mq(max, $mq_md - 1) {
            padding-top: 80px;
            // padding-bottom: 0px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 40px;
        }
        .zt-m-zr2{
            &::before{
                content: "";
                position: absolute;
                background-image: url("../img/icon/zero.png");
                background-repeat: no-repeat;
                background-size: contain;
                height: 311px;
                width: 163px;
                right: 0;
                margin-top: 185px;
                @include mq(max, $mq_md - 1) {
                    right: -23%;
                    height: 150px;
                    margin-top: 65px;
                }
            }
        }
        .zt-img1{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                width: 89.8%;
                right: -23.7%;
                background-color: #8fdfe3;
                z-index: -1;
                top: 54%;
                height: 480px;
                @include mq(max, $mq_md - 1) {
                    left: -15px;
                    width: 670px;
                    padding-top:  0px;
                    margin-top: -0px;
                    min-height: 480px;
                }
                @include mq(max, $mq_sm - 1) {
                    width: 380px;
                    height: 240px;
                    top: 120px;
                    min-height: 240px;
                }
            }
            img{
                width: 804px;
                @include mq(max, $mq_md - 1) {
                    width: 100%;
                    padding-left: 5px;
                }
            }
            @include mq(max, $mq_md - 1) {
                width: 100%;
                height: auto;
                padding-right: 80px;
            }
            @include mq(max, $mq_sm - 1) {
                width: 100%;
                padding-right: 40px;
            }
        }
        .zt-img2{
            img{
                width: 602px;
                margin: 75px 0 0 auto;
                @include mq(max, $mq_md - 1) {
                    width: 100%;
                    margin-top: 40px;
                }
            }
            @include mq(max, $mq_md - 1) {
                padding-left: 80px;
                width: 100%;
                height: auto;
                padding-top: 80px;
                padding-right: 5px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-left: 40px;
                padding-top: 0px;
            }
        }
        .zt-bg-skyb{
            background-color: #8fdfe3;
            width: 100%;
            margin: 0 0 0 auto;
            height: 480px;
            position: absolute;
            left: 225px;
            z-index: -1;
            top: 315px;
        }
        .zt-wrkdtl-z-3{
            img{
                 position: absolute;
                 right: 40px;
                 top: 25.5%;
                 @include mq(max, $mq_md - 1) {
                     z-index: -1;
                     height: 310px;
                     right: -30px;
                     bottom: -27px;
                 }
                 @include mq(max, $mq_sm - 1) {
                    height: 155px;
                }
            }
         }
    }
    .zt-sec4{
        position: relative;
        min-height: 1250px;
        @include mq(max, 767){
            min-height: auto;
        }
        &::after{
            content: "";
            position: absolute;
            background-image: url("../img/icon/zero.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 345px;
            width: 255px;
            right: -10%;
            top: 10%;
            transform: rotate(90deg);
            @include mq(max, 767){
                right: -35%;
                z-index: -1;
                height: 170px;
                top: 11%;
            }
        }
        
        .zt-img1{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 1050px;
                background-color: #eeeeee;
                z-index: -1;
                top: 50%;
                height: 450px;
                left: -25%;
                @include mq(max, $mq_md - 1) {
                    margin-top: -160px;
                    left: 40px;
                    width: 100%;
                }
                @include mq(max, $mq_sm - 1) {
                    margin-top: 40px;
                    left: 20px;
                    height: 240px;
                }
            }
            max-width: 205px;
            width: 100%;
            padding-left: 124px;
            padding-top: 70px;
            @include mq(max, $mq_md - 1) {
                padding-left: 0px;
                max-width: 100%;
                padding-top: 80px;
                padding-right: 80px;
                padding-left: 5px;
                img{
                    width: 100%;
                }
            }
            @include mq(max, $mq_sm - 1) {
                padding-top: 40px;
                padding-right: 40px;
            }
            img{
                width: 400px;
                @include mq(max, $mq_md - 1) {
                    width: 100%;
                }    
                &:after{
                    content: '';
                    position: absolute;
                    width: 75.5%;
                    background-color: #eeeeee;
                    z-index: -1;
                    padding-top: 265px;
                    margin-top: -157px;
                    min-height: 480px;
                    left: 0;
                    @include mq(max, $mq_md - 1) {
                        width: 100%;
                        left: 80px;
                    }
                    @include mq(max, $mq_sm - 1) {
                        left: 40px;
                        min-height: 240px;
                    }
                }
            }
        }
        .zt-img2{
            padding-top: 75px;
            @include mq(max, $mq_md - 1) {
                padding-top: 80px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-top: 40px;
            }
        }
        .zt-grd{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .gap35{
                margin-right: 70px;
            }
            .zt-grd-6{
                flex: 0 0 51.2%;
                max-width: 51.2%;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 80px;
                    padding-right: 5px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-left: 40px;
                }
                img{
                    width: 532px;
                    @include mq(max, 1150){
                        width: 100%;
                    }
                    @include mq(max, $mq_md - 1) {
                        width: 100%;
                    }
                }
            }
            .zt-grd-4{
                flex: 0 0 34.2%;
                max-width: 34.2%;
                padding-top: 305px;
                // padding-left: 70px;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-top: 80px;
                    padding-right: 80px;
                    padding-left: 5px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-top: 40px;
                    padding-right: 40px;
                }
                img{
                    width: 355px;
                    @include mq(max, 1150){
                        width: 100%;
                        padding-left: 70px;
                    }
                    @include mq(max, $mq_md - 1) {
                        padding-left: 0px;
                        width: 100%;
                    }
                }
            }
        }
        .zt-wrkdtl-z-4{
            position: relative;
            img{
                 position: absolute;
                 right: 0;
                 bottom: 120px;
                 @include mq(max, $mq_md - 1) {
                     z-index: -1;
                 }
            }
         }
    }
    .zt-sec5{
        position: relative;
        @include mq(max, $mq_md - 1) {
            padding-top: 80px;
        }
        @include mq(max, $mq_sm - 1) {
            padding-top: 40px;
        }
        
        .zt-img1{
            max-width: 805px;
            width: 100%;
            margin: 0 0 0 auto;
            @include mq(max, $mq_md - 1) {
                padding-left: 80px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-left: 40px;
            }
            &:before{
                content: '';
                position: absolute;
                width: 70%;
                background-color: #8fdfe3;
                z-index: -1;
                top: 26.6%;
                height: 480px;
                left: 70px;
                @include mq(max, $mq_md - 1) {
                    margin-top: -160px;
                    width: 96.5%;
                    left: 0;
                    right: 40px;
                    height: 240px;
                    top: 15%;
                }
            }
            img{
                width: 803px;
                @include mq(max, $mq_md - 1) {
                    width: 100%;
                }
                // &:after{
                //     content: '';
                //     position: absolute;
                //     background-color: #8fdfe3;
                //     width: 850px;
                //     height: 480px;
                //     left: 84px;
                //     z-index: -1;
                //     top: 280px;
                //     @include mq(max, $mq_md - 1) {
                //         width: 90%;
                //         left: 0;
                //         margin-right: 80px;
                //         top: 200px;
                //     }
                //     @include mq(max, $mq_sm - 1) {
                //         height: 240px;
                //         top: 100px;
                //     }
                // }
            }
        }
        .zt-img2{
            padding-top: 75px;
            @include mq(max, $mq_md - 1) {
                padding-top: 80px;
            }
            @include mq(max, $mq_sm - 1) {
                padding-top: 40px;
            }
        }
        .zt-grd{
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .gap35{
                margin-right: 70px;
            }
            .zt-grd-6{
                flex: 0 0 34.22%;
                max-width: 34.22%;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-right: 80px;
                    padding-left: 5px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-right: 40px;
                }
                img{
                    width: 355px;
                    @include mq(max, $mq_md - 1) {
                        width: 100%;
                    }
                }
            }
            .zt-grd-4{
                flex: 0 0 34.2%;
                max-width: 34.2%;
                padding-top: 230px;
                @include mq(max, $mq_md - 1) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    padding-left: 80px;
                    padding-top: 80px;
                    padding-right: 5px;
                }
                @include mq(max, $mq_sm - 1) {
                    padding-left: 40px;
                    padding-top: 40px;
                }
                img{
                    width: 355px;
                    @include mq(max, 1150){
                        width: 100%;
                        padding-left: 70px;
                    }
                    @include mq(max, $mq_md - 1) {
                        padding-left: 0px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .zt-wrkdtl-z-5{
            position: absolute;
            left: -35px;
            top: -6px;
            @include mq(max, $mq_md - 1) {
                z-index: -1;
                left: 0px;
                top: -100%;
            }
            img{
                box-shadow: none;
                @include mq(max, $mq_md - 1) {
                    height: 430px;
                }
                @include mq(max, $mq_sm - 1) {
                    height: 215px;
                }
            }
        }
    }
    
    .zt-wrkdtl-z-2{
       position: relative;
       img{
            position: absolute;
            left: -104px;
            bottom: -4px;
            @include mq(max, $mq_md - 1) {
                z-index: -1;
                height: 230px;
            }
            @include mq(max, $mq_sm - 1) {
                height: 155px;
                bottom: 0px;
                bottom: 300px;
            }
       }
    }
}

.zt-wrk-dtl-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    margin: auto;
    color: #000;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 900;
    max-width: 240px;
    width: 100%;
    padding: 20px 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    margin-bottom: 120px;
    margin-top: 120px;
    @include mq(max, 767){
        margin-top: 0px;
        margin-bottom: 60px;
    }
}

  
.grid{
    padding-bottom: 130px;
    .grid-list{
        &:nth-child(odd){
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
            .grid-item{
                padding-left: 10px;
                padding-right: 10px;
                &:nth-child(1){
                    flex: 0 0 100%;
                    max-width: 100%;
                    img{
                        height: 665px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                            height: 250px;
                        }
                    }
                }
                &:nth-child(2), &:nth-child(3){
                    flex: 0 0 50%;
                    max-width: 50%;
                    img{
                        height: 665px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                            height: 250px;
                        }
                    }
                    @include mq(max, 767){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                &:nth-child(4), &:nth-child(5), &:nth-child(6){
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%;
                    img{
                        height: 425px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                            height: 250px;
                        }
                    }
                    @include mq(max, 767){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        &:nth-child(even){
            display: flex;
            flex-wrap: wrap;
            margin-left: -10px;
            margin-right: -10px;
            margin-bottom: 20px;
            .grid-item{
                padding-left: 10px;
                padding-right: 10px;
                &:nth-child(1){
                    flex: 0 0 100%;
                    max-width: 100%;
                    img{
                        height: 665px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                              height: 250px;
                        }
                    }
                }
                &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%;
                    img{
                        height: 425px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                            height: 250px;
                        }
                    }
                    @include mq(max, 767){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
                &:nth-child(5), &:nth-child(6){
                    flex: 0 0 50%;
                    max-width: 50%;
                    img{
                        height: 665px;
                        @include mq(max, 767){
                            height: 250px;
                        }
                        @include mq(max, $mq_sm - 1) {
                            height: 250px;
                        }
                    }
                    @include mq(max, 767){
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
        .grid-item{
            a{
                color: #000;
                display: flex;
                align-items: center;
                text-decoration: none;
                .zt-ovrly-cntr{
                    flex-wrap: wrap;
                    .zt-grid-img{
                        display: flex;
                        align-items: center;
                        img{
                            width: 100%;
                        }
                        @include mq(max, 767){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                    .zt-overlay{
                        @include mq(max, 767){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}



/*accordion*/
.zt-filter{
    padding-top: 30px;
    h3{
        font-size: 20px;
    }
}
.c-list{
    padding-top: 85px;
    @include mq(max, $mq_sm - 1) {
        padding-top: 40px;
    }
}
.cat-opn{
    display: none;
    @include mq(max, $mq_md - 1) {
        display: block;
        background-color: #eeeeee;
        padding-bottom: 15px;
    }
    .ct-list{
        overflow: hidden;
    }
    a{
        text-decoration: none;
        color: currentColor;
    }
    .zt-year-sp{
        h4{
            text-transform: uppercase;
            font-size: 20px;
            position: relative;
            span{
                padding-right: 10px;
            }
            &::after{
                content: '';
                position: absolute;
                top: 40%;
                width: 70px;
                height: 2px;
                background-color: #000;
            }
            &.is-a{
                &::after{
                    content: '';
                    position: absolute;
                    top: 40%;
                    width: 87%;
                    height: 2px;
                    background-color: #000;
                }
            }
        }
    }
}
.sp-toggle-cat {
	display: none;
	position: absolute;
	left: 60px;
	width: 50px;
    height: 50px;
    top:15px;
    @include mq(max, $mq_md - 1) {
        top:30px;
    }
    @include mq(max, $mq_sm) {
        top:18px;
    }
	@include mq(max, 767) {
		display: block;
	}
	&:before, &:after {
		content: '';
		position: absolute;
		width: 20px;
		height: 3px;
		background-color: #000;
		transition: ease-in .3s;
	}
	&:before {
		left: 27%;
		top: 50%;
		transition: ease-in .3s;
	}
	&:after {
		width: 3px;
		height: 20px;
		left: 45%;
    	top: 32%;
    	transition: ease-in .3s;
	}
}
.cat-open {
	@include mq(max, 767) {
		display: none;
		&.is-active {
			display: block;
		}
	}
}
.cat-close{
	position: relative;
}
/*accordion*/


.fadeInUp {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
  }
  @include mq(max, 767){
      .cntr{
          &.zt-plpr{
              padding-left: 20px;
          }
      }
  }