.zt-slider-box{
    position: relative;
    &::before{
        content: "";
        background-color: #8fdfe3;
        height: 90%;
        // width: 78%;
        width: calc(750px + (1700 - 750) * ((100vw - 768px) / (1950 - 768)));
        position: absolute;
        @include mq(max, 768){
            width: 88%;
        }
        @include mq(max, 550){
            width: 85%;
        }
        @include mq(max, 375){
            width: 80%;
        }
    }
    margin-bottom: 50px;
    .mk-no-bdr{
        position: absolute;
        z-index: 1;
        top: 60px;
        pointer-events: none;
        img{
            pointer-events: none;
            width: calc(100px + (550 - 100) * ((100vw - 320px) / (1950 - 320)));
        }
    }
    .zt-slider-wrapper{
        padding-top: 100px;
        position: relative;
        .zt-slider{
            width: 90%;
            margin-left: auto;
            position: static;
            margin-bottom: 0;
            box-shadow: 10px 0 50px rgba(0, 0, 0, 0.3);
            .slick-prev, .slick-next{
                display: none !important;
            }
            .zt-slider-item{
                display: flex;
                align-items: center;
                @include mq(max, $mq_md){
                    height: calc(450px + (1000 - 450) * ((100vw - 320px) / (768 - 320)));
                }
                img{
                    width: 100%;
                    @include mq(max, $mq_md){
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .slick-dots{
                bottom: 0;
                width: auto;
                left: 5%;
                @include mq(max, 550){
                    left: 2%;
                }
                @include mq(max, 375){
                    left: 0;
                }
                li{
                    display: block;
                    margin: 5px 5px;
                    button{
                        &::before{
                            font-size: 15px;
                            opacity: 1;
                            color: #aaa;
                        }
                        &:hover{
                            &::before{
                                color: #e47667;
                            }
                        }
                    }
                    &.slick-active{
                        button{
                            &::before{
                                color: #e47667;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}