.zt-home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    h2{
        display: inline-block;
        font-size: calc(80px + (110 - 80) * ((100vw - 320px) / (2800 - 320)));
        line-height: calc(100px + (80 - 100) * ((100vw - 320px) / (2800 - 320)));
        letter-spacing: 5px;
        font-family: "Miso";
        text-transform: uppercase;
    }
}